<div class="panel-group lead" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title lead" >
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseLeistungen1">
                    <i id="ubaIcon" class="fa fa-check-circle-o"></i> Computer-Sehtest
                </a>
            </h4>
        </div>
        <div id="collapseLeistungen1" class="panel-collapse collapse">
            <div class="panel-body">
                Der erste Schritt auf dem Weg zur Brille führt bei Wagner-Optik zum Autorefraktometer. Beim Blick in das Gerät – zunächst mit dem einen, dann mit dem anderen Auge – ist ein Bild wie beispielsweise ein Fesselballon am Ende einer Landstraße zu sehen.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title lead">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseLeistungen2">
                    <i id="ubaIcon" class="fa fa-check-circle-o"></i> Kontaktlinsenanpassung
                </a>
            </h4>
        </div>
        <div id="collapseLeistungen2" class="panel-collapse collapse">
            <div class="panel-body">
                Mehr als 2 Millionen Menschen in Deutschland schätzen täglich die Vorteile von Kontaktlinsen. Die Vielfalt der Kontaktlinsentypen erlaubt die Korrektur nahezu aller Sehfehler.

                Werden zum ersten Mal Kontaktlinsen gewünscht, sollte von einem Augenarzt festgestellt werden, ob die Augen gesund sind. Zu einem Termin zur Kontaktlinsenanpassung sollte man genügend Zeit mitbringen. Für das Beratungsgespräch, die Untersuchung, die Anpassung und das Probetragen können ein bis zwei Stunden vergehen.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title lead">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseLeistungen3">
                    <i id="ubaIcon" class="fa fa-check-circle-o"></i> Eigene Meisterwerkstatt
                </a>
            </h4>
        </div>
        <div id="collapseLeistungen3" class="panel-collapse collapse">
            <div class="panel-body">
                Wir fertigen Ihre Brille in unserer Meisterwerkstatt mit modernster Technik. Doch selbst die beste Maschinen und Geräte sind immer nur so gut, wie die Menschen, die sie bedienen. Daher arbeiten in unserer Meisterwerkstatt ausschließlich Augenoptiker, die nicht nur handwerkliches Geschick und Fingerspitzenfühl verfügen, sondern auch viel Erfahrung und Wissen mitbringen.
            </div>
        </div>
    </div>
</div>